{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<main class="form-signin w-10 m-auto col-md-6">
    <h1 class="h3 mb-3 fw-normal">{{ 'add user'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <div class="form-floating">
        {{ form_row(registrationForm.mail, {
            attr: {
                class: 'form-control',
                placeholder: 'name@example.com'
            }
        }) }}
        <label for="registrationForm_mail"></label>
    </div>
    <br/>
    <div class="form-floating">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            attr: {
                class: 'form-control',
                placeholder: 'Password'
            }
        }) }}
        <label for="registrationForm_plainPassword"></label>
    </div>
    <br/>
    <div class="form-floating">
        {{ form_row(registrationForm.firstname, {
            attr: {
                class: 'form-control',
                placeholder: 'First Name'
            }
        }) }}
        <label for="registrationForm_firstname"></label>
    </div>
    <br/>
    <div class="form-floating">
        {{ form_row(registrationForm.lastname, {
            attr: {
                class: 'form-control',
                placeholder: 'Last Name'
            }
        }) }}
        <label for="registrationForm_lastname"></label>
    </div>
    <br/>
    <div class="form-floating">
        {{ form_row(registrationForm.birthdate, {
            attr: {
                class: 'form-control',
                placeholder: 'Birthdate'
            }
        }) }}
        <label for="registrationForm_birthdate"></label>
    </div>
    <br/>
    <div class="d-flex align-items-center">
        {{ form_row(registrationForm.language) }}
    </div>
    <label for="registrationForm_language"></label>
    <br/>
    <div class="form-check text-start my-3">
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Agree to terms',
            attr: {
                class: 'form-check-input'
            }
        }) }}
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">{{ 'register'|trans }}</button>

    {{ form_end(registrationForm) }} 

</main>
{% endblock %}
